* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: yellow;
  width: 100%; }

.padre {
  display: grid;
  grid-template-areas: "header"
 "main-content"
 "footer"; }

header {
  grid-area: header;
  background-color: yellow;
  width: 100%;
  font-family: commando;
  font-size: 3ch;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  header img {
    display: flex;
    width: 125px; }
  header nav ul {
    display: flex;
    list-style: none;
    width: 100%; }
    header nav ul li a:hover {
      color: red;
      transition: 0,5s;
      text-shadow: none; }
    header nav ul li .menu__boton {
      text-decoration: none;
      margin: 20px;
      font-weight: bold;
      text-transform: uppercase; }

.main-content {
  width: 100%;
  align-content: center;
  grid-area: main-content; }
  .main-content .myheroaca {
    margin: 0px 100px 20px 100px;
    text-align: justify; }
    .main-content .myheroaca h1 {
      padding-top: 2%;
      text-align: center;
      font-family: commando;
      font-size: 15ch; }
  .main-content section h2 {
    text-align: center;
    font-family: commando;
    font-size: 10ch; }
  .main-content section .mangaindex {
    display: flex;
    text-align: justify;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px; }
    .main-content section .mangaindex img {
      width: 12%;
      margin-right: 10px;
      border-radius: 5%;
      border-style: groove; }
  .main-content section .animeindex {
    display: flex;
    text-align: justify;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px; }
    .main-content section .animeindex .imganime {
      width: 12%;
      margin-left: 10px;
      border-radius: 5%;
      border-style: groove; }

footer {
  background-color: yellow;
  grid-area: footer;
  padding: 30px;
  text-align: center; }

.main-content .imgvig {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px; }

.main-content .vigilantes h1 {
  font-family: commando;
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  font-size: 9ch; }

.main-content .clase1a {
  display: flex;
  margin: auto;
  width: 100%; }

.main-content .personajes {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center; }
  .main-content .personajes .card {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    overflow: hidden;
    border-radius: 20px; }
    .main-content .personajes .card img {
      width: 150px;
      border-radius: 20px; }
    .main-content .personajes .card p {
      font-family: commando; }

@media (max-width: 768px) {
  body {
    background-color: #FFF323;
    width: 100%;
    margin: 0;
    padding: 0; } }

@media (max-width: 368px) {
  body {
    background-color: #FFF323;
    width: 100%;
    margin: 0;
    padding: 0; } }
